.example-wrapper {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px
}

.gw-dynamic-data-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 1.5rem;

  .gw-dynamic-data-grid {
    grid-column: span 2;
  }

  form {
    border: 1px solid rgba(34, 36, 38, .15);
    max-width: 24rem;
    padding: 1.5rem;

    label {
      display: grid;
      margin-bottom: 0.5rem;

      input {
        margin-top: 0.25rem;
      }
    }

    button {
      margin-top: 1.5rem;
    }
  }
}
